.button {
  appearance: none;
  background-color: var(--textColor);
  border-radius: 50%;
  color: transparent;
  display: block;
  height: 5rem;
  left: 50%;
  margin-top: 3rem;
  position: relative;
  transform: translateX(-50%);
  user-select: none;
  width: 5rem;

  &:focus,
  &:hover {
    background-color: color(var(--textColor) a(54%));
  }

  &::before {
    border-bottom: 1.25rem solid transparent;
    border-left: 2rem solid var(--darkColor);
    border-top: 1.25rem solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 1.75rem;
    position: absolute;
    top: 1.25rem;
    width: 0;
  }

  &::after {
    border-left: .75rem solid var(--darkColor);
    border-right: .75rem solid var(--darkColor);
    content: "";
    display: block;
    height: 2.25rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2rem;
  }
}

.play {
  &::after {
    opacity: 0;
  }
  &::before {
    opacity: 1;
  }
}

.pause {
  &::after {
    opacity: 1;
  }
  &::before {
    opacity: 0;
  }
}
