:root {
  --brand-color-dark: #512DA8;
  --accent-color: #35F44B;
  --text-color-dark: #bdbdbd;
}

.footer {
  background-color: var(--brand-color-dark);
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;

  & a:hover,
  & a:focus {
    color: var(--text-color-dark);
  }
}

.heart {
  animation: pulse .5s infinite alternate ease-in;
  background-color: var(--accent-color);
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  position: relative;
  width: 10px;

  &:before,
  &:after {
    background-color: var(--accent-color);
    border-radius: 50%;
    content: "";
    height: 10px;
    position: absolute;
    width: 10px;
  }

  &:before {
    left: 50%;
    top: 0;
  }

  &:after {
    left: 0;
    top: 50%;
  }
}

@keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
