.timer {
  align-items: center;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.display {
  flex-basis: 100%;
  font-size: 7.2rem;
  font-weight: 400;
}

.label {
  color: var(--textColorAccent);
  flex-basis: 100%;
  font-size: 2.4rem;
}
