.timer
  align-items center
  display flex
  flex-flow column
  text-align center

  &__display
    flex-basis 100%
    font-size 7.2rem
    font-weight 400

  &__type
    color $text-color-accent
    flex-basis 100%
    font-size 2.4rem


