:root {
  --brand-color: #673AB7;
  --brand-color-light: #7E57C2;
  --brand-color-dark: #512DA8;
}

.adjusts {
  background-color: var(--brand-color);
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 1.5rem;

  @media (min-width: 450px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.info {
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.controls {
  display: inherit;
  flex-direction: inherit;
}
