.adjusts {
  background-color: var(--brandColor);
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 1.5rem;

  @media (min-width: 450px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.info {
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
  text-align: center;
}

.controls {
  display: inherit;
  flex-direction: inherit;
  font-size: 1.6rem;
  padding-left: 2rem;
}

.control {
  margin-top: 1rem;

  @media (min-width: 450px) {
    margin-top: 0;

    &:not(:last-child) {
      padding-right: 3rem;
    }
  }
}

.box {
  background-color: transparent;
  border: .1rem solid currentColor;
  display: block;
  height: 2rem;
  left: -3rem;
  position: absolute;
  top: 0;
  width: 2rem;
}

.label {
  position: relative;
}

.input {
  visibility: hidden;

  &:checked {
    & + .label::after,
    & + .label::before {
      background-color: var(--accentColor);
      content: "";
      display: block;
      position: absolute;
      transform: rotate(45deg);
    }

    & + .label::after {
      bottom: 0;
      height: 2rem;
      left: -1.8rem;
      width: .5rem;
    }

    & + .label::before {
      bottom: .4rem;
      height: .5rem;
      left: -2.8rem;
      width: 1rem;
    }
  }
}
