@import 'modules/settings.styl'
@import 'modules/generic.styl'
@import 'modules/base.styl'
@import 'components/timer'
@import 'components/control-button'
@import 'components/change-timer'
@import 'components/adjusts'
@import 'components/footer'
